<div data-hook="admin_banks_form_fields">
  <div class="row">
    <%= f.field_container :name, class: ['form-group'] do %>
      <%= f.label :name, Spree.t(:name) %> <span class="required">*</span><br />
      <%= f.error_message_on :name, class: 'fullwidth title' %>
      <%= f.text_field :name, class: 'form-control' %>
    <% end %>

    <%= f.field_container :account_no, class: ['form-group'] do %>
      <%= f.label :account_no, Spree.t(:account_no) %><span class="required">*</span><br />
      <%= f.text_field :account_no, class: 'form-control' %>
    <% end %>

    <%= f.field_container :additional_details, class: ['form-group'] do %>
      <%= f.label :additional_details, Spree.t(:additional_details) %><br />
      <%= f.text_area :additional_details, rows: 10, class: 'form-control' %>
    <% end %>

    <%= f.field_container :active, class: ['checkbox'] do %>
      <%= f.label :active do %>
        <%= f.check_box :active %>
        <%= Spree.t(:active) %>
      <% end %>
    <% end %>
  </div>
</div>